body {
  background-color: #2a3828;
  background-image: url('/images/coll-bg.jpg');
  background-size: cover;
  cursor: url("images/pointer.png"), auto;
  font-family: Georgia, serif;
  min-height: 100vh;
}

::selection {
  color: red;
  background-color: gold;
}



.coll-header{
  font-family: "Great News", cursive;
  display: flex;
  position: relative;
  text-align: center;
  padding: 40px 20px 8px;
  gap: 20px;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  justify-content: center;
}

.coll-title{
  font-size: clamp(24px, 4vw, 100px);
  color: #FF8C00;
  white-space: none;
}

.columns{
  display: grid;
  grid-template-columns: 220px 1fr 220px;
  gap: 16px;
  max-width: 1080px;
  margin: 0 auto;
  padding: 6px 20px 15px 20px;
  align-items: start;
}

.board{
  position: relative;
  display: flex;
  justify-content: center;
}

.board img {
  width: 100%;
  display: block;
}

.board{
  position: relative;
  max-width: 600px; /* ajusta este valor a tu gusto */
  margin: 0 auto; /* lo centra horizontalmente */
}

.board-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  grid-template-rows: repeat(2, 1fr);    /* 2 filas */
  padding: clamp(20px, 8%, 100px) clamp(15px, 6%, 80px); /* arriba derecha abajo izquierda */
}

.board-grid > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-item {
  position: relative;
}

.board-item img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  rotate: -10deg;
  width: 100px;
  transition: opacity 0.3s ease;
    padding: clamp(20px, 8%, 100px) clamp(15px, 6%, 80px); /* arriba derecha abajo izquierda */
}

.board-label {
  -webkit-filter: drop-shadow(5px 5px 5px #ffffff);
  filter: drop-shadow(5px 5px 5px #ffffff);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  color: #ff0000;
  white-space: nowrap;
  pointer-events: none; /* para que no interfiera con el hover */
}

.board-item:hover img {
  rotate: 20deg;
  filter: saturate(100);
}

.board-item:hover .board-label {
  opacity: 1;
}

@media (max-width: 768px) {
  .columns {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .board {
    grid-column: 1 / -1;
    order: 1;
  }

  .col-left  { order: 2; }
  .col-right { order: 3; }

  .col-left, .col-right {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}

@media (max-width: 770px){
  .col-right, img{
    display:none;
  }
}