/* ============================================
   COLLECTIONS — collections.css
   ============================================ */


/* ── BODY ── */
body {
  background-color: #2a3828;
  background-image: url('/images/coll-bg.jpg');
  background-size: cover;
  cursor: url("images/pointer.png"), auto;
  font-family: Georgia, serif;
  min-height: 100vh;
}

::selection {
  color: red;
  background-color: gold;
}


/* ── HEADER ── */
.coll-header {
  font-family: "Great News", cursive;
  display: flex;
  position: relative;
  text-align: center;
  padding: 40px 20px 8px;
  gap: 20px;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  justify-content: center;
}

.coll-title {
  font-size: clamp(24px, 4vw, 100px);
  color: #FF8C00;
  white-space: nowrap;
}


/* ── WRAPPER (contenedor de los objetos) ── */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  position: relative;

}


/* ── ITEMS (cada objeto flotante) ── */
.item {
  position: absolute; /* se posiciona dentro de .wrapper */
  display: grid
}

.item img {
  width: 100%;
  height: auto;
  transition: filter 0.3s ease;
}


/* ── ETIQUETA AL HACER HOVER ── */
.board-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: 'Press Start 2P', monospace;
  font-size: 25px;
  color: #fff;
  text-shadow: 
    3px 3px 0 #1a1a3a,
    -1px -1px 0 #1a1a3a,
    1px -1px 0 #1a1a3a,
    -1px 1px 0 #1a1a3a;
  white-space: nowrap;
  pointer-events: none;
  z-index: 2;
}

.item:hover img {
  filter: brightness(0.6);
}

.item:hover .board-label {
  opacity: 1;
}


/* ── POSICIONES Y TAMAÑOS DE CADA ITEM ── */
/*.perfumes { 
  top: 2%;
  left: 8%;
  width: 22vw;
  rotate: -18deg;
}
.friends  { 
  top: 8%;  
  left: 40%; 
  width: 15vw; 
}
.vinyls   { 
  top: 0%;
  left: 65%;
  width: 35vw; 
  rotate: -40deg;
}
.trinkets { 
  top: 45%; 
  left: 15%; 
  width: 15vw; }
.pokemon  { 
  top: 33%;
  left: 25%;
  width: 24vw; 
}*/


/* ── HOVER ESPECIAL: PERFUMES ── */
.perfumes:hover img {
  opacity: 0.5;
  transform: rotate(20deg);
}

.vinyls:hover img {
  opacity: 0.5;
  transform: rotate(20deg);
}